@charset "utf-8";
@import "normalize";
@import "bootstrap";
@import "style";
@import "stylee";
@import "fontAwesome";


html
{
  overflow-y:scroll;
}

body {


  overflow-x:hidden;

  background: #fff;

  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;

}
.img{
  -moz-border-radius: 5px;
}
.ic_bolme {


  float: left;

  width: 100px;

  height: 150px;
  background-color: white;

  box-shadow: 0px 2px 2px 2px #e5e5e5 ;
  margin-right: 15px;

  margin-left: 10px;

  margin: 10px;
  font-size: 7px;

}
.ic_bolmee {


  float: left;

  width: 130px;

  height: 100px;
  background-color: white;

  border-style: solid;
  border-color: grey;
  margin:51px;
  font-size: 7px;

}

#dis_bolme {

   width: 500px;

   height:150px;
   background-color: white;


  margin: auto;

}
.text {

  word-spacıng :40px;

}
#dis_bolme2 {

  width: 500px;

  height:150px;
  background-color: white;

  margin: auto;


}
#dis_bolme3
{
  width: 600px;

  height:150px;
  background-color: white;

  margin: auto;
}
#dis_bolme4
{
  width: 700px;

  height:200px;
  background-color: white;
  margin: auto;

}

.logo img {
  height: 18.75em;
  margin-top: 6em;

}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: auto;

}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}
.vegetable
{
  font-size: 30px;

  font-family: "URW Chancery L";

}

.jumbotron {

  text-align: center ;
  font-size: 72px;
  line-height: 1 ;
  font-size: 21px;
  font-name: "Purisa";
  padding: 14px 24px;
  margin: 0 60em;

}
.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
ul {
  list-style: none outside none;
}

li {
  position: relative;
  display: inline;
  margin: 5px;
}
td{
  float: left;
  margin: 20px;
}
