
%nav.navbar.navbar-white
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"}
            %font{:color => "#000000"}Home
            %span.sr-only (current)
        %li
          %a{:href => "#"}
            %font{:color => "#000000"}Blog
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %font{:color => "#000000"}Products
            %font{:color => "#000000"}
              %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Separated link
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} One more separated link
      %form.navbar-form.navbar-left
        .form-group
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"}
            %font{:color => "#000000"}
              Log In
       
        %li
          %a{:href => "#"}
            %font{:color => "#000000"}
              |

        %li
          = link_to  "#", class: 'btn-link' do
            %font{:color => "#000000"}
              %i.fa.fa-shopping-basket{"aria-hidden" => "true"}
              Card
        %li
          %a{:href => "#",:class => 'btn btn-2'}
            %span 2


      .vegetable
        %font{:color => "#33CC00"} Vege
        %font{:color => "#000000"}Shop
.resim

  .organic-store
    %br
    Organic Store
  .yazi
    Vegetarian shop with organic food
    %br
      %br
    = link_to  "#", class: 'btn btn-green' do

      SEARCH OUR STORE
      %i.fa.fa-arrow-right{"aria-hidden" => "true"}
%br
%br
.new-products
  %li
    New products
%br
.secenekler
  %li
    %a{:href => "#"}
      %font{:color => "green"}
        %u
          ALL PRODUCTS
  %li
    %a{:href => "#"}
      %font{:color => "grey"}
        FRUITS
  %li
    %a{:href => "#"}
      %font{:color => "grey"}
        VEGETABLES
  %li
    %a{:href => "#"}
      %font{:color => "grey"}
        OTHER
%br

#dis_bolme
  .ic_bolme
    %div{:style => "background:url(http://cdn1.ntv.com.tr/gorsel/4njKxqLCSUG3L9ibeJmfGA.jpg?width=100&height=100&mode=crop&scale=both&v=20150602160155060&meta=square); width:100px; height:100px;"}
      %div{:style => "padding:20px 20px 20px 20px;"}
    %h7 MUSHROOMS -1KG
    =link_to "$9.50","#" , class: 'btn btn-linkk'
  .ic_bolme
    %div{:style => "background:url(http://www.hillspet.com.tr/images/weurg/img-pn-pumpkin.jpg); width:100px; height:100px;border-radius:  40px/10px;"}
      %div{:style => "padding:20px 20px 20px 20px;"}
    %h7 PUMPKIN -1KG
    =link_to "$3.00","#" , class: 'btn btn-linkk'
  .ic_bolme
    %div{:style => "background:url(http://www.salatatarifleri.net/wp-content/uploads/2015/09/sarimsak-100x100.jpg); width:100px; height:100px;"}
      %div{:style => "padding:20px 20px 20px 20px;"}
    %h7 GARLIC -2 OR 4 BULBS
    =link_to "$4.60","#" , class: 'btn btn-linkk'
  .ic_bolme
    %div{:style => "background:url(http://cdn1.ntv.com.tr/gorsel/yVbl5uCP40iZIa8rAnkG5Q.jpg?width=100&height=100&mode=crop&scale=both&v=20150617012950566&meta=square); width:100px; height:100px;"}
      %div{:style => "padding:20px 20px 20px 20px;"}
    %h7 GREEN PEA -1KG
    =link_to "$12.90","#" , class: 'btn btn-linkk'
#dis_bolme2
  .ic_bolme
    %div{:style => "background:url(http://selimlersebze.com/pic/100x100/patlican-1665.jpg); width:100px; height:100px;"}
      %div{:style => "padding:20px 20px 20px 20px;"}
    %h7 AUBERGINE -500G
    %p
      %del $3.50
      =link_to "$2.95","#" , class: 'btn btn-linkk'


  .ic_bolme
    %div{:style => "background:url(http://www.fusunbilgin.com.tr/wp-content/plugins/special-recent-posts-pro/cache/srpthumb-p2437-ID0-100x100-no.jpg); width:100px; height:100px;"}
      %div{:style => "padding:20px 20px 20px 20px;"}
    %h7 CELERY -1KG
    =link_to "$5.57","#" , class: 'btn btn-linkk'
  .ic_bolme
    %div{:style => "background:url(http://www.tohhum.com/urunresimler/8803kirmizi-biber_w100_h100.jpg); width:100px; height:100px;"}
      %div{:style => "padding:20px 20px 20px 20px;"}
    %h7 PAPRIKA MIX -1KG
    =link_to "$6.45","#" , class: 'btn btn-linkk'
  .ic_bolme
    %div{:style => "background:url(http://alimentazionebambini.e-coop.it/wp-content/uploads/2013/05/Patate-novelle-100x100.jpg); width:100px; height:100px;border-radius:  40px/10px;"}
      %div{:style => "padding:20px 20px 20px 20px;"}
    %h7 POTATOES -1KG
    =link_to "$2.33","#" , class: 'btn btn-linkk'
%br
#dis_bolme3

  = link_to  "#", class: 'show-more btn btn-white' do
    SHOW MORE
.img
  .yazi1
    %br
    Fresh products with certification
    %br
  .yazi2
    We offer the highest quality organic products
%br
  %br

.yazi3
  What our custumor think

%br
%br
#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner{:role => "listbox"}
    .item.active
      #dis_bolme4
        .ic_bolmee
          .tirnak-isareti2
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
            %br
          %h6 Your products are awesome!
          %br
          .tirnak-isareti
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
        .ic_bolmee
          .tirnak-isareti2
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
            %br
          %h6 I will definitely recommend your shop to my friends.
          .tirnak-isareti
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}

        .ic_bolmee
          .tirnak-isareti2
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
            %br
          %h6 Really fresh and tasty fruits.I love it.
          .tirnak-isareti
            %br
              %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
      .container
        .row
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            %img.img-circle{:src => "http://wsdba.org/wp-content/uploads/2014/03/bonnie-facebook-150x150-60x60.jpg"}
            %br
            Sarah T.
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            %img.img-circle{:src => "http://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2016/05/04/103606907-imbert,-fred_r.60x60.jpg?v=1462390814"}
            %br
            Thomas B.
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            %img.img-circle{:src => "http://higherpowerseo.com/wp-content/uploads/2016/05/facebook-live-diy-60x60.jpg"}
            %br
            Katherine P.
    .item
      #dis_bolme5
        .ic_bolmee
          .tirnak-isareti2
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
            %br
          %h6 Your products are awesome!
          %br
          .tirnak-isareti
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
        .ic_bolmee
          .tirnak-isareti2
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
            %br
          %h6 I will definitely recommend your shop to my friends.
          .tirnak-isareti
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}

        .ic_bolmee
          .tirnak-isareti2
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
            %br
          %h6 Really fresh and tasty fruits.I love it.
          .tirnak-isareti
            %br
              %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
      .container
        .row
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            %img.img-circle{:src => "http://wsdba.org/wp-content/uploads/2014/03/bonnie-facebook-150x150-60x60.jpg"}
            %br
            Sarah T.
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            %img.img-circle{:src => "http://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2016/05/04/103606907-imbert,-fred_r.60x60.jpg?v=1462390814"}
            %br
            Thomas B.
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            %img.img-circle{:src => "http://higherpowerseo.com/wp-content/uploads/2016/05/facebook-live-diy-60x60.jpg"}
            %br
            Katherine P.
    .item
      #dis_bolme6
        .ic_bolmee
          .tirnak-isareti2
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
            %br
          %h6 Your products are awesome!
          %br
          .tirnak-isareti
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
        .ic_bolmee
          .tirnak-isareti2
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
            %br
          %h6 I will definitely recommend your shop to my friends.
          .tirnak-isareti
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}

        .ic_bolmee
          .tirnak-isareti2
            %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
            %br
          %h6 Really fresh and tasty fruits.I love it.
          .tirnak-isareti
            %br
              %i.fa.fa-quote-left.fa-3x.fa-pull-left{"aria-hidden" => "true"}
      .container
        .row
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            %img.img-circle{:src => "http://wsdba.org/wp-content/uploads/2014/03/bonnie-facebook-150x150-60x60.jpg"}
            %br
            Sarah T.
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            %img.img-circle{:src => "http://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2016/05/04/103606907-imbert,-fred_r.60x60.jpg?v=1462390814"}
            %br
            Thomas B.
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            %img.img-circle{:src => "http://higherpowerseo.com/wp-content/uploads/2016/05/facebook-live-diy-60x60.jpg"}
            %br
            Katherine P.


.doga-resmi
  .container
    .row
      %br
      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        .yazi-style2
          Contact
        .yazi-style
          %br
          VegeShop
          %br
          Warzywna 5/6
          %br
          87-100 Torun
          %br
          +47 791 054 214

      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        .yazi-style2
          Shop
        .yazi-style
          %br
          Products
          %br
          Blog
          %br
          Help
          %br
          Terms

      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        .yazi-style2
          Shoppig
        .yazi-style
          %br
          Delivery time
          %br
          Payments method
          %br
          Complaints and returns
      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        .yazi-style2
          Follow us on
        %br
        %a{:href => "https://tr-tr.facebook.com/"}
          .facebook
            %font{:color => "#ffffff"}
              %i.fa.fa-facebook.fa-2x{"aria-hidden" => "true"}
        %a{:href => "https://twitter.com/?lang=tr"}
          .twitter
            %font{:color => "#ffffff"}
              %i.fa.fa-twitter.fa-2x{"aria-hidden" => "true"}



